<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
        <title>Home - Book Tracker</title>
        <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800&amp;display=swap">
    </head>
    <body>
        <nav class="navbar navbar-dark navbar-expand-md fixed-top navbar-shrink py-3" id="mainNav">
            <div class="container">
                <a class="navbar-brand d-flex align-items-center" href="/">
                    </span><span>Book Tracker</span>
                </a>
                    <button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-1">
                        <span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span>
                    </button>
                    
                <div class="collapse navbar-collapse" id="navcol-1">
                        <ul class="navbar-nav" style="margin-left: 35%;"> Welcome, {{ session['user'] }}</ul>
                    <ul class="navbar-nav mx-auto"></ul>
                    <a class="btn btn-primary shadow" role="button" href="{{ url_for('logout') }}">Logout</a>
                </div>
            </div>
        </nav>
        <section class="py-5 mt-5">
            <div class="container py-5" style="padding-top: 1px !important;">
                <div class="row mb-5">
                    <div class="col-md-8 col-xl-6 text-center mx-auto">
                        <div class="row">
                                <div class="card mb-4 shadow-sm">
                                    <div class="card-body">
                                        <h5 class="card-title">Add a new Book</h5>
                                        <form method="post" class="form-horizontal" style="margin: 1rem !important;">
                                            <p class="text-muted" style="margin-top: 2.7rem !important;">You can add, edit and delete books</p>
                                            <div class="d-flex justify-content-center align-items-center" style="margin: 1rem !important;">
                                                <div class="btn-group" style="margin-top: 1.3rem !important;">
                                                    <button type="button" class="btn btn-sm btn-outline-secondary" data-bs-toggle="modal" data-bs-target="#Create">Add</button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                        </div>
                    </div>   
                <hr class="my-4">
                <h3 class="fw-bold"><strong>Your Books</strong></h3>
                <div class="row row-cols-1 row-cols-sm-2 row-cols-lg-3 d-sm-flex justify-content-sm-center" style="margin-top: 2rem;">
                    {% for book in books %}
                        <div class="col mb-4">
                            <a data-bs-toggle="modal" data-bs-target={{ "#" + book.book_name }} style="cursor: pointer !important;">
                                <div class="bg-dark border rounded border-dark p-4">
                                        <p class="fw-bold text-primary mb-0">{{ book.book_name }}</p>
                                        <p class="text-muted mb-0">{{ book.book_author }}</p>
                                </div>
                            </a>
                        </div>
                        <div class="modal fade" id={{ book.book_name }} tabindex="-1" role="dialog" aria-labelledby="{{ book.book_name }}" aria-hidden="true" style="color: black !important;">
                            <div class="modal-dialog modal-dialog-centered" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLongTitle">Book</h5>
                                    </div>
                                    <div class="modal-body">
                                        <div class = "row">
                                            <h5 class="text mb-4" > Book Name : {{ book.book_name }} </h5>
                                            <p class="text"> Author : {{ book.book_author }} </p>
                                            <p class="text"> Price : {{ book.book_price }} </p>
                                            <p class="text"> Date : {{ book.date_added }} </p>
                                        </div>
                                    </div>                       
                                    <div class="modal-footer">
                                    <form method="post" class="form-horizontal" enctype="multipart/form-data">
                                        {{ del_form.csrf_token }}
                                        {{ del_form.book_id( style="display: none", value = book.book_id ) }}
                                        <button type="button" class="btn btn-sm btn-outline-secondary" data-bs-dismiss="modal">Close</button>
                                        {{ del_form.delete( class="btn btn-sm btn-primary", type="submit", value="Delete") }}
                                    </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </section>
        <div class="modal fade" id="Create" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true" style="color: black !important;">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Add Book</h5>
                    </div>
                    <div class="modal-body">
                        <form method="post" class="form-horizontal" style="margin: 1rem !important;" enctype="multipart/form-data">
                            <div class="form-group">
                                <label for="group_id" style="margin-bottom: 5px !important; " class="text-muted">Book Name</label>
                                {{ form.book_name( class="form-control form-control-sm", placeholder="Enter Book Name", style="margin-bottom: 10px !important; color: #504ae7 !important", type="text") }}
                            </div>
                            <div class="form-group">
                                <label for="budget" style="margin-bottom: 5px !important; " class="text-muted">Book Author</label>
                                {{ form.book_author( class="form-control form-control-sm", placeholder="Enter Author's Name", style="margin-bottom: 10px !important; color: #504ae7 !important", type="text") }}
                            </div>
                            <div class="form-group">
                                <label for="location" style="margin-bottom: 5px !important; " class="text-muted">Price</label>
                                {{ form.book_price( class="form-control form-control-sm", placeholder="Enter Book Price", style="margin-bottom: 10px !important; color: #504ae7 !important", type="text") }}
                            </div>
                            <div class="form-group">
                                <label for="date" style="margin-bottom: 5px !important; " class="text-muted">Date Added</label>
                                {{ form.date_added( class="form-control form-control-sm", placeholder="Enter Date", style="margin-bottom: 10px !important; color: #504ae7 !important", type="date") }}
                            </div>
                                {{ form.csrf_token }}
                            <div class="modal-footer">
                                <button type="button" class="btn btn-sm btn-outline-secondary" data-bs-dismiss="modal">Close</button>
                                {{ form.submit( class="btn btn-sm btn-primary", type="submit", value="Add Book") }}
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <script src="../static/js/jquery.min.js"></script>
        <script src="../static/bootstrap/js/bootstrap.min.js"></script>
        <script src="../static/js/bs-init.js"></script>
        <script src="../static/js/bold-and-dark.js"></script>
    </body>
</html>



