body {
  font-family: Arial, Helvetica, sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: #161616;
}

ul {
  list-style: none;
  padding-left: 25px;
}

#particles-js {
  width: 100%;
  height: 190%;
  background: #161616;
  position: absolute;
  z-index: -1;

}

.navbar {
  background-color: #161616;
  opacity: 0.9;
  border-radius: 0;
  box-shadow: none;
  margin-bottom: 0;
  padding: 0;
  position: fixed;
  width: 100%;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  text-decoration: none;
  font-size: 1.1rem;
  padding-top: 4px;
  padding-bottom: 4px;
}

.navbar-brand {
  color: #000;
  font-size: 1.5rem;
  font-weight: bold;
  padding: 0.5rem 1rem;
  text-decoration: none;
  padding-top: 2rem;
}

.navbar-left {
  flex-grow: 1;
}

.brand {
  color: #fff;
  font-size: 2rem;
  text-decoration: none;
}

.nav {
  display: flex;
  flex-direction: column;
  text-decoration: none;
}

.search {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  text-decoration: none;
  flex-grow: 2;
}

input {
  width: 65%;
  border: beige solid 2px;
  padding: 0.5rem;
  border: none;
  border-radius: 0.5rem;
  background-color: #fff;
  font-size: 1.2rem;
  margin-top: 0.6rem;
  margin-bottom: 0.6rem;
}


.search-form {
  width: 200%;
}

.submit {
  padding: 0.5rem;
  border-radius: 0.5rem;
  background-color: #fff;
  font-size: 0.7rem;
  position: relative;
  top: 5px;
}

a {
  text-decoration: none;
  color: #fff;
}
.navbar-right {
  margin-left: 25px;
}

.navbar-right {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  padding: 0.5rem 2rem;
  border-radius: 0.5rem;
  margin-left: 5%;
}

.profile-content {
  width: 90%;
  height: min-content;
  background-color: #fff;
  border-radius: 0.7rem;
  margin-top: 4rem;
  position: absolute;
  left: 5%;
  top: 6%;
  display: flex;
  flex-direction: column;
  overflow-y:scroll; 
  height: 80%;
}

.profile-info {
  width: 70%;
  height: 70%;
  border-radius: 0.5rem;
  margin-left: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.profile-img{
  width: 15rem;
  height: 15rem;
  margin: 20%;
  border-radius: 100%;
  background-color: #fff;
  border: #000 solid 2px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.profile-info-right {
  margin-left: 15%;
}

.profile-img:hover {
  opacity: 0.5;
}

.comment-form {
  margin-left: 4rem;
  margin-top: 1rem;
}

textarea {
  width: 80%;
  border: beige solid 2px;
  padding: 0.5rem;
  border-radius: 0.5rem;
  background-color: #fff;
  font-size: 1.2rem;
  border: #161616 solid 2px;
}

.search-table {
  width: 100%;
  height: 100%;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  border-radius: 0.5rem;
}

th {
  color: #000;
  font-size: 1.2rem;
  padding: 0.5rem;
  text-align: center;
  border-right: #000 solid 1px;
}

img.profile-img-table {
  width: 4rem;
  height: 4rem;
  border-radius: 100%;
  margin: 1rem;
}

td {
  padding: 0.5rem;
  justify-content: center;
  text-align: center;
}

tr {
  height: min-content;
  border-top: #161616 solid 1px;
}

.img-txt {
  display: flex;
  align-items: center;
  justify-content: left;
}

tr:hover {
  opacity: 0.7;
}

.comments {
  width: 90%;
  height: 80%;
  background-color: #fff;
  border-radius: 0.7rem;
  margin-top: 5rem;
  position: absolute;
  left: 5%;
  top: calc(6% + 80% + 7%);
  display: flex;
  flex-direction: column;
  overflow-y:scroll; 
  height: 80%;
}

.comment {
  margin: 0 3rem 0 3rem  ;
  display: flex;
  flex-direction: row;
  border-bottom: #000 solid 1px;
}

.profile-img-comment {
  width: 4rem;
  height: 4rem;
  border-radius: 100%;
  margin: 1rem;
}

.upload {
  margin-left: 52%;
  background-color: #fff;
  border: #000 solid 2px;
  border-radius: 0.5rem;
  padding: 0.5rem;
  font-size: 1.2rem;
  margin-bottom: 0.6rem;
  cursor: pointer;
}

.upload:hover {
  opacity: 0.5;
}

.comment-right {
  width: 82%;
}

.comment-del {
  background-color: #fff;
  border-radius: 0.5rem;
  padding: 0.5rem;
  font-size: 1.2rem;
  margin-bottom: 0.6rem;
  cursor: pointer;
}

.delete {
  margin-left: 50%;
}

.date {
  font-size: 0.9rem;
  color: #6c6c6c;
}

@media screen and (max-width: 850px) {
  .profile-img {
    margin-left: 10%;
  }
  .upload {
    margin-left: 40%;
  }
}